<ion-header>
  <ion-toolbar>
    <ion-title>
      Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div id="map" style="width:100%; height:100%;"></div> -->
  <ion-button expand="block" (click)="log(0)">Log debug</ion-button>
  <ion-button expand="block" (click)="log(1)">Log info</ion-button>
  <ion-button expand="block" (click)="log(2)">Log</ion-button>
  <ion-button expand="block" (click)="log(3)">Log warn</ion-button>
  <ion-button expand="block" (click)="log(4)">Log error</ion-button>
</ion-content>